<div>
  <div class="jumbotron" style="margin: 45px">
    <h2 style="text-align: center; padding-top: 5%">Contact Details</h2>
    <div class="container">
      <h6>
        <p style="text-align: center; padding-bottom: 20px">
          E-mail:-anand@gmail.com
        </p>
      </h6>
      <h6>
        <p style="text-align: center; padding-bottom: 20px">
          Address:-Pune , INDIA
        </p>
      </h6>
    </div>
    <div class="container">
      <h6><p style="text-align: center">Phone:-+91 87887871111</p></h6>
    </div>
  </div>
</div>
<router-outlet></router-outlet>